[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[functions]
  directory = ".netlify/functions"
  included_files = [".netlify/functions/**"]

# Redirects
[[redirects]]
  from = "/mastermind"
  to = "/academy/mastermind"
  status = 301
  force = true
